.main-content {
    margin-left: 600px !important;
    padding: 204px;
    width: calc(100% - 600px); /* Ajusta a largura em relação à margem */
    transition: margin-left 0.3s ease;
}

.main-content {
    margin-left: auto; /* Alinhamento automático */
    margin-right: auto; /* Alinhamento automático */
    padding: 20px;
    width: 100%; /* Largura total */
    transition: margin-left 0.3s ease;
    max-width: 1200px; /* Defina um limite de largura máxima */
}

/* Media query para telas menores */
@media (max-width: 800px) {
    .main-content {
        margin-left: 10px; /* Reduz a margem em telas pequenas */
        margin-right: 10px; /* Reduz a margem em telas pequenas */
        padding: 15px; /* Ajusta o padding para uma melhor experiência */
    }
}

/* Media query para telas ainda menores */
@media (max-width: 500px) {
    .main-content {
        margin-left: 5px; /* Reduz ainda mais a margem */
        margin-right: 5px; /* Reduz ainda mais a margem */
        padding: 10px; /* Ajusta o padding */
    }
}


#seguranca-header {
    text-align: center;
    margin-bottom: 20px;
}

#seguranca-title {
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 10px;
}

#seguranca-subtitle {
    font-size: 1.1rem;
    color: #666;
}

#saiba-mais-link {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}

#seguranca-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#menu-list {
    list-style: none;
    display: flex;
    gap: 40px;
}

#menu-list li a {
    font-size: 1.2rem;
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}

#seguranca-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.seguranca-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

.card-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #000;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666;
}

.card-info-list {
    list-style-type: none;
    padding-left: 0;
    font-size: 0.95rem;
    color: #666;
}

.card-info-list li a {
    color: #28a745;
    text-decoration: none;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.card-button:hover {
    background-color: #218838;
}

#seguranca-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#scroll-button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
}
